<a href="https://colab.research.google.com/github/armandossrecife/icc/blob/main/poo_alunos_arquivo_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Define a classe Aluno

In [3]:
class Aluno:
  def __init__(self, matricula, nome, notas):
    self.matricula = matricula
    self.nome = nome
    self.notas = notas

  def calcula_media(self):
    soma_notas = sum(self.notas)
    qtd_notas = len(self.notas)
    media = soma_notas/qtd_notas
    return media

  def __str__(self):
    return '(' + self.matricula + ',' + self.nome + ')'

função para converter lista de notas de um aluno em uma string separada por virgulas

In [1]:
def converte_notas_para_str(aluno):
  notas_string = ''
  for nota in aluno.notas:
    notas_string = notas_string + str(nota) + ','
  return notas_string

Salva 3 alunos em um arquivo texto

In [5]:
# 1 criar os 3 alunos
aluno1 = Aluno('1231231', 'Daniel', [10, 9, 8])
aluno2 = Aluno('23423423', 'Clara', [10, 7, 9, 10])
aluno3 = Aluno('3443234534', 'Zara', [10, 10])

In [6]:
# Salva os 3 alunos em um arquivo .txt
# Criar um arquivo no modo append
f_alunos = open('meus_alunos.txt', 'a')
dados_aluno1 = aluno1.matricula + '#' + aluno1.nome + '#'+  converte_notas_para_str(aluno1) + str(aluno1.calcula_media()) + '\n'
f_alunos.write(dados_aluno1)
dados_aluno2 = aluno2.matricula + '#' + aluno2.nome + '#'+  converte_notas_para_str(aluno2) + str(aluno2.calcula_media()) + '\n'
f_alunos.write(dados_aluno2)
dados_aluno3 = aluno3.matricula + '#' + aluno3.nome + '#'+  converte_notas_para_str(aluno3) + str(aluno3.calcula_media()) + '\n'
f_alunos.write(dados_aluno3)
f_alunos.close()

Ler os dados do arquivo .txt

In [7]:
f_ler_alunos = open('meus_alunos.txt', 'r')
for linha in f_ler_alunos:
  print(linha)
f_ler_alunos.close()

1231231#Daniel#10,9,8,9.0

23423423#Clara#10,7,9,10,9.0

3443234534#Zara#10,10,10.0