<a href="https://colab.research.google.com/github/armandossrecife/icc/blob/main/pratica_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Prática 2 - Criando um registro simplificado de alunos e notas de uma disciplina

In [3]:
alunos = ['Armando', 'Maria', 'Ana']
print(alunos)

retangulo = (10, 5)

['Armando', 'Maria', 'Ana']

In [5]:
print(retangulo[0], retangulo[1])

10 5

# 1) Defina uma tupla para representar os dados de um Aluno

## Dados: matricula, nome, e-mail

### Crie 3 alunos fictícios (sugestão: use uma tupla para representar um aluno)

In [8]:
aluno1 = ('2020123', 'Maria Joaquina', 'mj@gmail.com')
aluno2 = ('2020124', 'Ana Carla', 'ac@gmail.com')
aluno3 = ('2020125', 'Carlos Eduardo', 'ce@gmail.com')
print(aluno1)
print(aluno2)
print(aluno3)

('2020123', 'Maria Joaquina', 'mj@gmail.com')
('2020124', 'Ana Carla', 'ac@gmail.com')
('2020125', 'Carlos Eduardo', 'ce@gmail.com')

In [9]:
print(f'Matricula: {aluno1[0]}')
print(f'Nome: {aluno1[1]}')
print(f'email: {aluno1[2]}')

Matricula: 2020123
Nome: Maria Joaquina
email: mj@gmail.com

# 2) Crie uma lista para representar os alunos matriculados na disciplina

In [10]:
lista_alunos = []

In [11]:
print(lista_alunos)

[]

## Adicione os 3 alunos na lista

In [13]:
lista_alunos.append(aluno1)
lista_alunos.append(aluno2)
lista_alunos.append(aluno3)

print(lista_alunos)

[('2020123', 'Maria Joaquina', 'mj@gmail.com'), ('2020124', 'Ana Carla', 'ac@gmail.com'), ('2020125', 'Carlos Eduardo', 'ce@gmail.com')]

In [16]:
print(aluno1, len(aluno1))

('2020123', 'Maria Joaquina', 'mj@gmail.com') 3

In [14]:
print(len(lista_alunos))

3

## Mostre os alunos da lista

In [19]:
print(lista_alunos)

[('2020123', 'Maria Joaquina', 'mj@gmail.com'), ('2020124', 'Ana Carla', 'ac@gmail.com'), ('2020125', 'Carlos Eduardo', 'ce@gmail.com')]

In [20]:
for aluno in lista_alunos:
  print(aluno)

('2020123', 'Maria Joaquina', 'mj@gmail.com')
('2020124', 'Ana Carla', 'ac@gmail.com')
('2020125', 'Carlos Eduardo', 'ce@gmail.com')

In [21]:
for aluno in lista_alunos:
  print(f'Nome: {aluno[1]}')

Nome: Maria Joaquina
Nome: Ana Carla
Nome: Carlos Eduardo

# 3) Crie uma lista de 4 notas para cada aluno

In [24]:
notas_aluno1 = [10,8,7,9]
notas_aluno2 = [9,9,9,9]
notas_aluno3 = [10,10,10,10]

print(notas_aluno1)
print(notas_aluno2)
print(notas_aluno3)

[10, 8, 7, 9]
[9, 9, 9, 9]
[10, 10, 10, 10]

# 4) Crie uma tupla que represente um aluno e suas notas

In [30]:
aluno1_notas = (aluno1, notas_aluno1)
aluno2_notas = (aluno2, notas_aluno2)
aluno3_notas = (aluno3, notas_aluno3)
print(aluno1_notas)
print(aluno2_notas)
print(aluno3_notas)

(('2020123', 'Maria Joaquina', 'mj@gmail.com'), [10, 8, 7, 9])
(('2020124', 'Ana Carla', 'ac@gmail.com'), [9, 9, 9, 9])
(('2020125', 'Carlos Eduardo', 'ce@gmail.com'), [10, 10, 10, 10])

In [26]:
len(aluno1_notas)

2

In [28]:
print(aluno1_notas[0])
print(aluno1_notas[1])

('2020123', 'Maria Joaquina', 'mj@gmail.com')
[10, 8, 7, 9]

# 5) Crie uma lista que represente os alunos e as notas da disciplina

In [31]:
lista_alunos_notas = []

In [32]:
print(lista_alunos)

[('2020123', 'Maria Joaquina', 'mj@gmail.com'), ('2020124', 'Ana Carla', 'ac@gmail.com'), ('2020125', 'Carlos Eduardo', 'ce@gmail.com')]

## Adicione os alunos e suas notas na lista de notas da disciplina

In [33]:
lista_alunos_notas.append(aluno1_notas)
lista_alunos_notas.append(aluno2_notas)
lista_alunos_notas.append(aluno3_notas)

In [34]:
for aluno in lista_alunos_notas:
  print(aluno)

(('2020123', 'Maria Joaquina', 'mj@gmail.com'), [10, 8, 7, 9])
(('2020124', 'Ana Carla', 'ac@gmail.com'), [9, 9, 9, 9])
(('2020125', 'Carlos Eduardo', 'ce@gmail.com'), [10, 10, 10, 10])

# 6) Imprima os alunos com suas respectivas notas

In [37]:
for item in lista_alunos_notas:
  print(f'Dados do aluno: {item[0]}, Notas: {item[1]}')

Dados do aluno: ('2020123', 'Maria Joaquina', 'mj@gmail.com'), Notas: [10, 8, 7, 9]
Dados do aluno: ('2020124', 'Ana Carla', 'ac@gmail.com'), Notas: [9, 9, 9, 9]
Dados do aluno: ('2020125', 'Carlos Eduardo', 'ce@gmail.com'), Notas: [10, 10, 10, 10]