<a href="https://colab.research.google.com/github/armandossrecife/icc/blob/main/Pratica_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prática 3 - Manipulando os alunos e as notas de uma disciplina

## 1. Informações de um aluno
Um aluno tem uma matrícula, um nome e 4 notas

Um aluno pode ser representado por uma tupla ('Nome', lista_de_notas)

tupla aluno = ('Nome do aluno', lista_de_notas)

Por exemplo:
 
aluno1 = ('Nome do aluno1', [10, 8, 7, 9])

In [1]:
aluno1 = ('Maria Joaquina', [10, 9,8,7])
aluno2 = ('Ana Carla', [10, 10,8,8])
aluno3 = ('Maria Júlia', [10, 10,10,10])

## 2. Informações de uma disciplina

Uma disciplina pode ser representada por um dicionário de alunos, onde cada item tem como chave a matrícula do aluno e o valor é a tupla que representa o aluno.

Por exemplo: 

alunos_lp = {
    'matricula1': ('aluno1', [10, 8, 7, 5]),
    'matricula2': ('aluno2', [8, 8, 9, 6]),
    'matricula3': ('aluno3', [9, 8, 6, 7]),
}

In [2]:
dicionario_alunos = {}

In [4]:
dicionario_alunos['20220001'] = aluno1
dicionario_alunos['20200202'] = aluno2
dicionario_alunos['20210002'] = aluno3

## 3. Liste todas as matrículas dos alunos matriculados na disciplina

Dica: liste apenas as chaves (keys) do dicionário

In [7]:
for matricula in dicionario_alunos.keys():
  print(matricula)

20220001
20200202
20210002

## 4. Liste todos os alunos matriculados na disciplina

Dica: liste apenas os valores (values) do dicionário

In [15]:
for aluno in dicionario_alunos.values():
  print(aluno)

('Maria Joaquina', [10, 9, 8, 7])
('Ana Carla', [10, 10, 8, 8])
('Maria Júlia', [10, 10, 10, 10])

## 5. Liste apenas os nomes dos alunos matriculados
Dica: para cada valor, mostre apenas o 1o. elemento da tupla

In [13]:
for k, v in dicionario_alunos.items():
  print(f'Nome: {v[0]}')

Nome: Maria Joaquina
Nome: Ana Carla
Nome: Maria Júlia

## 6. Liste os nomes dos alunos com suas respetivas notas

Dica: liste apenas os valores do dicionário

In [14]:
for k, v in dicionario_alunos.items():
  print(f'Nome: {v[0]}, Notas: {v[1]}')

Nome: Maria Joaquina, Notas: [10, 9, 8, 7]
Nome: Ana Carla, Notas: [10, 10, 8, 8]
Nome: Maria Júlia, Notas: [10, 10, 10, 10]

## 7. Liste os nomes dos alunos, suas notas e a média final

Dica: liste apenas os valores do dicionário

Obs: faça um loop dentro da lista de notas para calcular a média

## 8. Calcule a média aritmética geral da turma

Dica: liste apenas os valores do dicionário

Obs1: faça um loop dentro da lista de notas para calcular a média. Pode usar len(lista de notas) para pegar a quantidade de notas

Obs2: acumule as médias dos alunos e ao final divida pela quantidade de alunos (len(dicionario))